---
import BlogList from "@components/BlogList.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="blog">
  <main class="px-8">
    <h1 class="text-8xl font-bold w-[50%] m-auto pb-6">
      blog<span class="text-yellow-500">.</span>
    </h1>
    <BlogList />
  </main>
</Layout>
