---
import BlogList from "@components/Blog/BlogList.astro";
import PageTitle from "@components/PageTitle.astro";
import Layout from "@layouts/Layout.astro";

export const prerender = true;
---

<Layout title="blog">
  <main class="p-8">
    <PageTitle text="blog" periodClass={/*tw*/ "text-yellow-500"} />
    <BlogList />
  </main>
</Layout>
