---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="404">
  <div class="px-8 m-auto w-4/5 flex flex-col gap-4 items-center">
    <h1 class="text-6xl sm:text-8xl font-serif font-bold">
      <span class="text-red-500">404</span>, something has gone very wrong here.
    </h1>
  </div>
</Layout>
