---
import Layout from '@layouts/Layout.astro';
---

<Layout title="about me.">
	<main>
		<h1>About me.</h1>
		<p>
			I am an engineer originally from the UK, now based in Tokyo. 
			I came to Japan for many of the same reasons that I am interested in technology - to learn new things and challenge myself.
			You can find me all across the stack using Go, TypeScript, Python, and React.
		</p>
	</main>
</Layout>

<style>

</style>
