---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import PageTitle from "@components/ui/PageTitle.astro";
import EmailForm from "@components/about/EmailForm";

export const prerender = true;

return Astro.redirect("/under-construction");
---

<Layout title="about">
  <main class="flex flex-col md:flex-row w-full grow">
    <div class="grow basis-1/2 pl-8 pr-8 sm:pr-4 py-8">
      <PageTitle
        text={"about"}
        textClass={"text-6xl xs:text-8xl font-serif font-bold w-full flex justify-center pb-6"}
        periodClass={/*tw*/ "text-blue-500"}
      />
      <div class="w-full flex jusitfy-center items-center">
        <Image
          class="rounded-full shadow-lg mx-auto py-4 w-[200px] h-[220px] md:w-[300px] md:h-[320px]"
          src="/about/Conall.jpg"
          alt="picture of Conall"
          width={300}
          height={300}
        />
      </div>
      <article class="w-4/5 mx-auto flex flex-col gap-2">
        <p class="text-lg text-slate-300">
          My name is Conall, I am an engineer originally from the UK, now based
          in Tokyo.
          <p class="text-lg text-slate-300">
            I came to Japan for many of the same reasons that I am interested in
            technology - to learn new things and challenge myself.
          </p>
          <p class="text-lg text-slate-300">
            You can find me all across the stack using Go, TypeScript, Python,
            and React.
          </p>
        </p>
      </article>
    </div>
    <div class="bg-blue-500 grow basis-1/2 pr-8 pl-8 sm:pl-4 py-8">
      <section id="contact">
        <PageTitle
          text="contact"
          textClass={"text-6xl xs:text-8xl font-serif font-bold w-full flex justify-center pb-6"}
          periodClass={/*tw*/ "text-slate-700"}
        />
        <EmailForm client:load />
      </section>
    </div>
  </main>
</Layout>
