---
import Layout from "@layouts/Layout.astro";
import HomeScene from "@components/3d/Scene";
export const prerender = true;

return Astro.redirect("/under-construction");
---

<Layout title="">
  <main class="">
    <HomeScene client:only="react" />
  </main>
</Layout>
