---
import Layout from "@layouts/Layout.astro";
import PageTitle from "@components/PageTitle.astro";
export const prerender = true;
---

<Layout title="">
  <main class="px-8">
    <PageTitle periodClass={/*tw*/ "text-red-500"}>home</PageTitle>
  </main>
</Layout>
