---
import Nav from "./Nav"
const url = Astro.url.pathname;
---

<header class="flex justify-between w-screen p-4">
    <span class="text-xl font-bold">C</span>
    <Nav client:load currentUrl={url} />
</header>