---
export interface Props {
  title: string;
}
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { toTitle } from "@utils/page";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{toTitle(title)}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <div class="grow flex flex-col">
      <slot />
    </div>
    <Footer />
  </body>

  <style lang="scss" is:global>
    :root {
      --accent-gradient: linear-gradient(45deg, black, #ffffff7c 30%);
    }
    html {
      background-color: #141414;
      color: white;

      .under {
        position: relative;
        &::after {
          content: "";
          display: block;
          height: 2px;
          left: 0px;
          position: absolute;
          right: 0px;
          transform: scaleX(0);
          transform-origin: left top;
          transition: transform 0.25s cubic-bezier(0.2, 0.65, 0.3, 0.9) 0s;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left top;
        }
      }
    }
  </style>
</html>
